.post-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    margin: 50px auto;
}

.post-content {
    margin-top: 10px;
}

.post-container h2 {
    text-align: center;
}

.post-image img {
    width: 100%;
    margin: auto;
} 